.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.wide {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.column-left {
  text-align: left;
  align-items: flex-start;
}

.column-center {
  text-align: center;
  align-items: center;
}

.column-right {
  text-align: right;
  align-items: flex-end;
}

.column-vertical-center {
  justify-content: center;
  vertical-align: middle;
}

.column-vertical-top {
  justify-content: flex-start;
  vertical-align: top;
}

.row-left {
  text-align: left;
  justify-content: flex-start;
}

.row-center {
  text-align: center;
  justify-content: center;
}

.row-right {
  text-align: right;
  justify-content: flex-end;
}

.row-vertical-center {
  align-items: center;
  vertical-align: middle;
}

.space-between {
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.text-align-left {
  text-align: left;
}

.padding-large {
  padding-left: 276px;
  padding-right: 276px;
  //padding-left: 19.16666666666667%;
  //padding-right: 19.16666666666667%;
}

.width-1440 {
  width: 1440px;
}