.features {
  height: 885px;
  gap: 92px;
  width: 100%;

  .grid-4-decorated {
    display: grid;
    grid-template-columns: 140px 1fr 140px 1fr 140px 1fr 140px;
    padding-left: 340px;
    padding-right: 340px;
    box-sizing: border-box;
    margin: auto 0;
    

    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;

    .decoration {
      width: 100%;
      box-sizing: border-box;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: center;
      text-align: center;
      padding: 20px;

      &:after {
        content: "";
        display: block;
        border-bottom: solid 1px #DAE4FE;
        height: 1px;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .column {
      gap: 32px;

      .circle {
        width: 69px;
        height: 69px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        text-align: center;
        flex-direction: column;
        background-color: #F1F5FF;
      }

    }

  }

  .choice {
    box-sizing: border-box;
    width: 100%;
    padding-left: 340px;
    padding-right: 340px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    grid-template-columns: 32fr 140px 1fr 48px 1fr 140px 32fr;

    &:after {
      content: "";
      display: block;
    }

    &:before {
      content: "";
      display: block;
    }

    .decoration {
      box-sizing: border-box;
      padding: dpx(0);

      &:after {
        content: "";
        display: block;
        border-bottom: solid 1px #DAE4FE;
        height: 1px;
        width: 100%;
      }
    }
  }

}