.navbar {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto;
  padding-right: 8.125%;
  padding-left: 8.125%;
  height: 80px;
  width: 100%;

  .circle {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: #5E81FE;
    border-radius: 50%;
  }

  .menu {
    margin-left: 72px;
    gap: 42px;

    a {
      font-family: Quicksand;
      font-size: 12px;
      line-height: 15px;
      color: #697CA6;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: 0.05em;
      opacity: 1;
  
      &.active {
        color: #5E81FE;
      }
    }
  }

  .social {
    margin-right: 44px;
    gap: 32px;
  }

  
}
