.plan {
  --image-width: 854px;
  --image-height: 736px;
  background-image: url("../images/devices.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 300px);
  background-position-y: calc(0% + 120px);
}
