@import "lib/utils";

button {
  box-sizing: border-box;
  padding-top: dpx(0.75);
  padding-bottom: dpx(0.75);
  padding-left: dpx(1);
  padding-right: dpx(1);
  color: #3A79FF;
  background-color: #D2E1FF;
  border-radius: 2px;
  border: none 0px transparent;
  font-size: dpx(0.75);
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  margin: 0;
}

button.light-blue {
  color: #3A79FF;
  background-color: #D2E1FF;
}

button.light-red {
  color: #D43F3F;
  background-color: #FFD7D7;
}

button.blue {
  color: #FFFFFF;
  background-color: #4C85FF;
}

button.gray {
  color: #ADB4D2;
  background-color: transparent;
  border: 1px solid #D1D1E4;
}

button.play {
  margin-left: auto;
  margin-right: auto;
  width: dpx(3.5);
  height: dpx(3.5);
  border-radius: 50%;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  background-color: #FFFFFF; 
  color: #3A79FF;
}
