.faq {
  align-items: center;
  justify-content: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  height: dpx(60.25);
  gap: dpx(4);

  .heading {
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: flex;
    flex-direction: column;

    h6 {
      font-size: dpx(0.625);
    }

    h1 {
      font-size: dpx(1.5);
    }

    h1, h6 {
      margin: 0px;
    }
  }

  .questions {
    .line {
      height: 0px;
      width: dpx(46.4375);
      border-bottom: 1px solid #D8E3FE;
    }


    .spoiler {

      input {
        display: none;
      }
      
      input:checked + label + .sided {
        height: auto !important;
        display: flex !important;
      }

      input:not(:checked) + label + .sided {
        height: 0px;
        display: none;
      }

      input:checked + label::before {
        content: url("../images/marker-open.svg");
      }

      input:not(:checked) + label::before {
        content: url("../images/marker-close.svg");
      }

      input + label {
        cursor: pointer;
        font-family: Quicksand;
        box-sizing: border-box;
        
        padding: dpx(1.9);
        font-size: dpx(1);
        display: inline-block;

        &:before {
          box-sizing: border-box;
          display: inline-block;
          padding-right: 1.5rem !important;
        }
      }

      .sided {
        transition: height 1s;

        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        justify-self: center;
        display: flex;
        padding-bottom: dpx(3);
        overflow: hidden;
        
        p {
          margin: 0px;
          display: inline-block;
          width: dpx(24.4375);
        }

      }

    }
  }

}