.header {

  .swiper {
    height: 570px;
    width: 100%;
  }

  .page {
    height: 100%;
    width: 100%;
    padding-top: 92px;
    box-sizing: border-box;

    p {
      width: 502px;
    }

    &.main {
      
      background-image: url("../images/header.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-origin: border-box;
      background-clip: border-box;
      background-position: center center;
      background-attachment: local;

    }

    
  }
  
}
