.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.column-left {
  text-align: left;
  align-items: flex-start;
}

.column-center {
  text-align: center;
  align-items: center;
}

.column-right {
  text-align: right;
  align-items: flex-end;
}

.column-vertical-center {
  justify-content: center;
  vertical-align: middle;
}

.row-left {
  text-align: left;
  justify-content: flex-start;
}

.row-center {
  text-align: center;
  justify-content: center;
}

.row-vertical-center {
  align-items: center;
  vertical-align: middle;
}

.space-between {
  justify-content: space-between;
  display: grid;
}

* {
  box-sizing: border-box;
}

.text-align-left {
  text-align: left;
}

