
@use "fonts";
@use "titles";
@use "layouts";
@use "buttons";
@use "navbar";
@use "details";
@use "header";

html, body {
  padding: 0px;
  margin: 0px;
  border: none 0px transparent;
  box-sizing: border-box;
  font-family: Quicksand;
  font-size: 12px;
  line-height: 16px;

  html {
    
  }
  
  body {
    min-height: 100vh;
    --dp-scale: 1rem;

    .container {
      margin: auto;
      width: 100%;
      max-width: 1440px;
      min-width: 1440px;
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
      min-height: 100vh;
      overflow: hidden;
    }
  }
}
