@import "lib/utils";

.manage {
  box-sizing: border-box;
  display: grid;
  background-color: #F5F8FF;
  width: 100%;
  height: dpx(48.5);

  align-items: center;
  justify-content: center;
  justify-self: center;

  grid-template-columns: dpx(25.8125) 1fr;
  padding-left: dpx(17);
  
  & {
    --image-width: 854px;
    --image-height: 736px;
    background-image: url("../images/devices.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: calc(50% + #{dpx(6)});
  }

  .image {
    width: 100%;
    height: 100%;
    
    //background-size: contain;
  }

  .content {
    
    padding-top: dpx(11);
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    //justify-content: center;
    //justify-self: center;

    p {
      width: dpx(25.8125);
    }

    .buttons {
      margin-top: dpx(3);
      text-align: left;
      display: flex;
      align-items: left;
      //justify-content: center;
      //justify-self: center;
      
      
      button {
        margin-right: dpx(0.125);
        width: dpx(8);

        img {
          padding-left: dpx(0.25);
        }
      }
    }

  }

  
}