.started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  
  color: white;
  
  width: 100%;
  height: dpx(27.9375);

  display: flex;
  flex-direction: column;
  align-items: center;
  //padding-top: dpx(5);
  justify-content: center;
  justify-self: center;

  .heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //padding-top: dpx(5);
    justify-content: center;
    justify-self: center;
    text-align: center;

    padding-bottom: dpx(2);

    h1 {
      font-size: dpx(3);
      line-height: dpx(3.75);
    }

    p {
      width: dpx(44.5);
      line-height: dpx(1.8125);
    }

    h1, h6, p {
      color: white;
    }
  }

}