.started {
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  height: 447px;
  gap: 48px;

  p {
    color: white;
    opacity: 1;
    width: 712px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
    opacity: 1;
  }
}
