.statistics {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  height: dpx(21.375);
  

  h1 { display: inline-block; margin-bottom: 0px; font-size: dpx(3); line-height: dpx(5.1875); };
  h3 { display: inline-block; margin-bottom: 0px; font-size: dpx(1.125); line-height: dpx(1.4375); width: dpx(16.25); };
  img { width: dpx(4.0625); height: dpx(4.0625); };

  .blue {
    box-sizing: border-box;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    text-align: right;
    padding: dpx(4);
    color: white;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    h1, h2, h3, h4, h5, h6 { color: white; };
  }

  .white {
    box-sizing: border-box;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    text-align: left;
    padding: dpx(4);
    color: #5E80FF;
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    h1, h2, h3, h4, h5, h6 { color: #5E80FF; };
  }
}