.stats {
  height: 343px;

  p, h4 {
    width: 260px;
  }

  .wrap {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 66px;
    padding-bottom: 66px;
    gap: 22px;

    &.blue {
      color: white;
      background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
      h1, h4, p { color: white; opacity: 1; };
    }

    &.light-blue {
      color: #5E80FF;
      background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
      h1, h4, p { color: #5E80FF; opacity: 1; };
    }
  }


}