<!doctype html>
<html>
<head>
  <title>Sigma template</title>
  
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  <link rel="stylesheet" type="text/css" href="styles/main.css"/>
  
</head>
<body>

  <div class="container">
    {% include './parts/navbar.html' %}
    {% include './parts/header.html' %}
  </div>

</body>
</html>
