.wide.customers.padding-large.flex-row.space-between.row-vertical-center(x-style="grid-template-columns: repeat(5, auto); height: 146px;")
  img(src="images/customers/bitbucket.svg",alt="")
  img(src="images/customers/applewatch.svg",alt="")
  img(src="images/customers/facebook.svg",alt="")
  img(src="images/customers/atlassian.svg",alt="")
  img(src="images/customers/audi.svg",alt="")
