.wide.footer.flex-column.column-left.column-vertical-center
  include ./navbar.pug
  .wide.copyright.flex-row.row-vertical-center(x-style="padding-left: calc(8.125% + 100px); padding-bottom: 93px; opacity: 0.6;")
    p.small="Copyright © 2018 by Random site"
