header.wide.hero.flex-column.column-center.column-vertical-center
  .swiper
    .swiper-wrapper
      .swiper-slide
        .main.page.flex-column.column-center
          h5="PLAN YOUR LIFE"
          h1="Increase your "
            b="productivity"
          p
            | Brute laoreet efficiendi id his, ea illum nonumes luptatum pro.
            | Usu atqui laudem an, insolens gubergren similique est cu.
            | Et vel modus congue vituperata.
          button.play 
            img(src="images/play.svg",alt="")
    .swiper-pagination
