header.wide.hero.flex-column.column-center.column-vertical-center(x-style="background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);")
  .swiper(x-style="height: 570px; width: 100%;")
    .swiper-wrapper
      .swiper-slide
        .main.wrap.page.flex-column.column-center.bg-contain-border-box(style="--bg-image: url(\"images/header.svg\");" x-style="padding-top: 92px;")
          h5="PLAN YOUR LIFE"
          h1="Increase your "
            b="productivity"
          p(x-style="width: 502px;")
            | Brute laoreet efficiendi id his, ea illum nonumes luptatum pro.
            | Usu atqui laudem an, insolens gubergren similique est cu.
            | Et vel modus congue vituperata.
          button.play 
            img(src="images/play.svg",alt="")
    .swiper-pagination
