.wide.newsletter.padding-large.flex-row.space-between.row-vertical-center
  .content.flex-column.column-left.column-vertical-center
    h4="Sign up for newsletter"
    p="Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu, homero alterum."
  .submit.flex-row.row-right.row-vertical-center(style="gap: 14px;")
    input(type="text",placeholder="Email address")
    button.blue(style="width:184px;height:59px;")="Save me"
