.wide.stats.two-columns 
  .wrap.column-right.blue
    img(src="images/statistics/performance.svg",alt="")
    h1="89%"
    h4="Customers who have increased their productivity"
  .wrap.column-left.light-blue
    img(src="images/statistics/social.svg",alt="")
    h1="3123"
    h4="Users who have used our application"
