.wide.stats.two-columns(x-style="height: 343px;")
  .wrap.column-right.bg-blue(x-style="padding: 66px 90px 66px 90px; gap: 22px;")
    img(src="images/statistics/performance.svg",alt="")
    h1="89%"
    h4(x-style="width: 260px;")="Customers who have increased their productivity"
  .wrap.column-left.bg-light-blue(x-style="padding: 66px 90px 66px 90px; gap: 22px;")
    img(src="images/statistics/social.svg",alt="")
    h1="3123"
    h4(x-style="width: 260px;")="Users who have used our application"
