doctype html
html
  head
    meta(charset="utf-8")
    link(href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" rel="stylesheet")
  body
    
    .container
      
      include includes/navbar.pug
      include includes/hero.pug
      include includes/customers.pug
      include includes/plan.pug
      include includes/features.pug
      include includes/stats.pug
      include includes/blog.pug
      include includes/quotes.pug
      include includes/faq.pug
      include includes/started.pug
      include includes/newsletter.pug
      include includes/footer.pug
      
      

    script 
      
    script(src="scripts/main.js" defer async)
