@import 'styles/utils';

.container {
  .partners {
    width: 100%;
    height: dpx(9);
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;

    .columns {
      width: 100%;
      display: flex;
      justify-content: center;
      justify-self: center;
      align-items: center;
      text-align: center;
      gap: dpx(4);

      .vector {
        display: inline-block;
      }
    }
  }
}